/* Rectangle 1: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 2: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 4: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 5: */
background: #D8D8D8;
border: 1px solid #979797;
/* header: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* image: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* text: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 3: */
background: #726E6E;
border: 1px solid #979797;
/* title,author,date: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Recommended Copy: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 5: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 8: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 6: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 7: */
background: #726E6E;
border: 1px solid #979797;