/*********************************************************************************/


/* Front Page Header                                                             */


/*********************************************************************************/

#header-front {
    background-image: url("images/samplehead.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Helvetica,Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 320px;
    margin: 0 auto;
    color: #000000;
    line-height: 30px;
    text-align: center;
}

#info-front {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0 auto;
    font-family: Kokuri,Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    color: black;
    opacity: 0.6;
    width: 100%;
}

#info-front h3 {
    font-size: 24px;
    text-align: left;
}

#info-front ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
}

#info-front ul li {
    font-size: 16px;
    font-family: Koruri,Arial, sans-serif;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

#info-front ul li.author {
    padding-left: 25px;
    background-image: url("images/fountain-pen-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

#info-front ul li.date {
    padding-left: 25px;
    background-image: url("images/clock-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

#info-front ul li.tag {
    padding-left: 25px;
    background-image: url("images/price-tag-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}


/*********************************************************************************/


/* Front Page Article List                                                            */


/*********************************************************************************/

.article_list {
    font-family: Koruri,Arial, sans-serif;
    margin: 5% auto;
    line-height: normal;
}

.article_list ul {
    padding-left: 0px;
    width: 90%;
    margin: 5% auto;
}

.article_list li {
    list-style: none;
    border-bottom: 1px dotted #ddd;
    margin: 0 2% 2% 0;
    padding: 0 0 0px 0px;
    width: 100%;
    float: left;
}

.article_list .thum {
    width: 50%;
    float: left;
}

.article_list img {
    width: 100%;
    float: left;
    height: auto;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ccc;
    vertical-align: middle;
    margin: 2%;
}

.article_list .info h4 {
    font-size: 18px;
    font-family: Kokuri,Arial, sans-serif;
    text-align: left;
    margin: 0;
}

.article_list ul li .info {
    margin-left: 20px;
    font-family: Kokuri,Arial, sans-serif;
    width: 40%;
    border: none;
    float: left;
}

.article_list ul li .info ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: left;
    width: 100%;
    height: auto;
}

.article_list ul li .info ul li {
    font-size: 16px;
    font-family: Koruri,Arial, sans-serif;
    width: auto;
    height: auto;
    vertical-align: top;
    width: 100%;
}

.article_list ul li .info ul li.author {
    padding-left: 30px;
    background-image: url("images/fountain-pen-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

.article_list ul li .info ul li.date {
    padding-left: 30px;
    background-image: url("images/clock-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

.article_list ul li .info ul li.tag {
    padding-left: 30px;
    background-image: url("images/price-tag-icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
}