/* Rectangle 1: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 6: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 2: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 4: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 5: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 3: */
background: #726E6E;
border: 1px solid #979797;
/* title,author,date: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 5: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 7: */
background: #D8D8D8;
border: 1px solid #979797;
/* Recommended: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* texttext: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy 2: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy 4: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy 7: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy 6: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;
/* texttext copy 3: */
font-family: Helvetica;
font-size: 36px;
color: #000000;
line-height: 43px;