/*********************************************************************************/


/* Basic                                                                         */


/*********************************************************************************/

body {
   max-width: 480px;
    margin: 0;
    padding: 0;
    background: #fff;
}


/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header {
	font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
    background: #D8D8D8;
border: 1px solid #979797;
}

header img {
    margin: 0 auto;
	width:100%;
	height:auto;
}


header h2{
	margin:0 auto;
	width:80%;
	line-height:120%;
	margin-bottom:5%;
	}
	
header h3{
	margin:0 auto;
	width:80%;
	font-size:20px;
	border-bottom:solid 2px #999999;
	}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#logo {
    margin: 0 auto;
    text-align: center;
}


/*********************************************************************************/


/* Nav                                                                           */


/*********************************************************************************/

#nav {}

#nav-wrapper {}


/*********************************************************************************/


/* Main                                                                          */


/*********************************************************************************/

#main {
	font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
   background: #D8D8D8;
border: 1px solid #979797;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

#sentence {
	font-family: Helvetica;
	margin:0 auto;
	width:90%;
	text-align:left;
	line-height:120%;
	}

#contact_wrapper {
  width:90%;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

ul.contact{
	margin:0 auto;
	font-size:0;}
	
#contact_wrapper li{
	display: inline-block;
  font-size: 12px;
  width: 25%;}
  
  

#follow {
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

#follow p{
	margin:0 auto;
			width:90%;
  border-bottom:solid 2px #999999;}

#othres{
	margin:0 auto;
	position: relative;
    background: #fff;
    text-align: center;
}

#others p{
	border-bottom:solid 2px #999999;
			margin:0 auto;
			width:90%;
}

#button{
	text-align: center;
	margin:10 0 auto 10 0 auto;
	padding:5px;
	width: 200px;
	border-radius: 5px;
	background: #bfbfbf;
	box-shadow: 0 4px 0 #7f7f7f;
	cursor: pointer;
}


/*********************************************************************************/


/* Footer                                                                        */


/*********************************************************************************/

#footer {
   
    position: relative;
    text-align: center;
}


/*********************************************************************************/


/* Copyright                                                                     */


/*********************************************************************************/

#copyright {
   
    position: relative;
    text-align: center;
}
