/*********************************************************************************/


/* Basic                                                                         */


/*********************************************************************************/

body {
    border: solid 1px #000;
    margin: 0;
    padding: 0;
    background: #fff;
}


/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header {
    border: solid 1px #000;
}

#header img {
    margin: 0 auto;
}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#logo {
    margin: 0 auto;
    text-align: center;
}


/*********************************************************************************/


/* Nav                                                                           */


/*********************************************************************************/

#nav {}

#nav-wrapper {}


/*********************************************************************************/


/* Main                                                                          */


/*********************************************************************************/

#main {
    border: solid 1px #000;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

#contact_wrapper {
    border: solid 1px #000;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

#follow {
    border: solid 1px #000;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}

#others {
    border: solid 1px #000;
    margin: 0 auto;
    position: relative;
    background: #fff;
    text-align: center;
}


/*********************************************************************************/


/* Footer                                                                        */


/*********************************************************************************/

#footer {
    border: solid 1px #000;
    position: relative;
    text-align: center;
}


/*********************************************************************************/


/* Copyright                                                                     */


/*********************************************************************************/

#copyright {
    border: solid 2px #000;
    position: relative;
    text-align: center;
}