/* Rectangle 1: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 2: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 4: */
background: #D8D8D8;
border: 1px solid #979797;
/* Rectangle 1 Copy 5: */
background: #D8D8D8;
border: 1px solid #979797;
/* header: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* image: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* image copy: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* image copy 2: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 9: */
background: #D8D8D8;
border: 1px solid #979797;
/* image copy 3: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 10: */
background: #D8D8D8;
border: 1px solid #979797;
/* image copy 4: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy: */
background: #726E6E;
border: 1px solid #979797;
/* Rectangle 1 Copy 3: */
background: #726E6E;
border: 1px solid #979797;
/* title,author,date: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* title,author,date copy: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* title,author,date copy 2: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* title,author,date copy 3: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* title,author,date copy 4: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Recommended: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;
/* Rectangle 1 Copy 8: */
background: #D8D8D8;
border: 1px solid #979797;
/* Footer Copy: */
font-family: Helvetica;
font-size: 25px;
color: #000000;
line-height: 30px;